.Learn-Words {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.Learn-Words h4 {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
}

.Word-Card {
  border: 10px solid white;
  padding: 20px 40px 20px 40px;
  list-style: none;
  background: #e52d27;
  background: -webkit-linear-gradient(to right, #b31217, #e52d27);
  background: linear-gradient(to right, #b31217, #e52d27);
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
}

.Word-Card h5 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.Word-Card h6 {
  color: #fff;
  font-size: 15px;
  margin-top: 25px;
  font-weight: 400;
}

.Card {
  color: #fff;
  margin: 0;
  padding: 0;
}

.Card li {
  list-style: none;
  margin-bottom: 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.Translation-Form input {
  margin-right: 20px;
}

.Guess-Submit {
  color: #000;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.Guess-Submit:hover {
  background: #f0f0f0f0;
  transition: all 0.5s;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .Word-Card {
    padding: 30px 50px 30px 50px;
  }

  .Word-Card h5 {
    font-size: 35px;
  }

  .Word-Card h6 {
    font-size: 20px;
    margin-top: 50px;
  }
}
