@media only screen and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }

  /* Begin Nav Menu */

  .Header__is-logged-in {
    display: inline-block;
  }

  .Header__is-logged-out {
    display: inline-block;
  }

  .Open-Menu {
    padding: 0;
    background: transparent;
    border: 0;
    position: absolute;
    right: 0;
    margin-right: 3%;
    margin-top: 1.3%;
  }

  .Close-Menu {
    padding: 0;
    background: transparent;
    border: 0;
    position: absolute;
    top: 2%;
    right: 0;
    margin-right: 7%;
  }

  .Nav-Logo {
    width: 40%;
  }

  .Nav-Logo,
  .Open-Menu {
    margin-top: 10px;
    position: fixed;
  }

  .Open-Menu {
    margin-top: 15px;
  }

  .mobileMenu {
    height: 45%;
    width: 200px;
    position: fixed;
    transform: translateX(200px);
    z-index: 2 !important;
    top: 0;
    right: 0;
    background: #f9f9f9;
    background-size: cover;
    border-radius: 50px 0 0 50px;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    margin-top: 1%;
  }

  .mobileMenu.is-open {
    transform: translateX(0px);
  }

  .Mobile-avatarNavMenu {
    height: 50px;
    width: auto;
    border-radius: 25px;
    border: 1px solid #fff;
  }

  .mobile-Login {
    color: red;
  }

  .mobile-Register {
    color: red;
    margin-left: 10px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    display: inline;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* End Nav Menu */

  /* Begin Nav Menu Content */

  .Inner-Container {
    margin-left: 6%;
  }

  .Account-Options button {
    padding: 0;
    background: transparent;
    border: 0;
    margin-right: 6%;
    margin-bottom: 10%;
  }

  /* End Nav Menu Content */

  .Desktop-Menu {
    display: none;
  }

  button i {
    color: var(--text);
  }
}
