@media only screen and (min-width: 1024px) {
  h1 a {
    display: block;
    float: left;
    text-decoration: none;
    color: red;
    margin-left: 25px;
  }

  nav a {
    float: right;
    margin-right: 25px;
    color: red;
    text-decoration: none;
  }

  .Open-Menu {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}
