.Login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Login-Form {
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
  padding: 30px 10px 30px 10px;
  border-radius: 25px;
}

.Login h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  .Login-Form {
    padding: 10px 30px 50px 30px;
  }
}
